<!DOCTYPE html>
<html>
	<head>
		<title>Verbal Code</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<style type="text/css">
			html, body { height: 100%; padding: 0; margin: 0; }
			div { float: left; }
			.divleft { width: 30%; }
			.divright { width: 70%; }
			.divtop { height: 70%; }
			.divbottom { height: 30%; }
			.div1 { background: #DDD; }
			.div2 {
				background: #000;
				color: white;
				padding: 20px;
				font-family: Menlo, monospace;
			}
			.div3 { background: #555; padding: 40px 5%; text-align: center; white-space: nowrap !important; }
			.div4 {
				background: #333;
				color: white;
				padding: 20px;
				font-family: Menlo, monospace;
			}
		</style>
	</head>
	<body ng-app="VerbalCode" ng-controller="MainController" ng-keydown="listenForKeyPress()" my-enter="toggleRecording()"> <!-- -->
		<div class="div1 divleft divtop" style="">
			<div style="height: 50%; width: 100%; background: #555; border-bottom: 5px solid white;">
				a
			</div>
			<div style="height: 50%; width: 100%; background: #333">
				b
			</div>
		</div>
		<div class="div2 divright divtop" style="border-left: 5px solid white;">
			<table>
				<tr>
					<td style="padding-right: 10px !important; vertical-align: top;">></td>
					<td id="input"></td>
				</tr>
			</table>
		</div>
		<div class="div3 divleft divbottom" style="border-top: 5px solid white;">
			<div class="ui circular icon button" style="font-size: 50px; display: inline-block;" id="recordingBtn" ng-click="toggleRecording()" ng-class="{'red': recording, 'green': !recording}"><i class="microphone icon"></i></div>
			<div class="ui massive blue circular icon button" style="font-size: 50px; display: inline-block;" id="compileBtn" ng-click="compile()"><i class="code icon"></i></div>
		</div>
		<div class="div4 divright divbottom" style="border-left: 5px solid white; border-top: 5px solid white;">
			<table>
				<tr>
					<td style="padding-right: 10px !important; vertical-align: top;">></td>
					<td id="output"></td>
				</tr>
			</table>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('VerbalCode', []);

			app.directive('myEnter', function () {
			    return function ($scope, element, attrs) {
			        element.bind("keydown keypress", function (event) {
			            if (event.which === 102) {
			                $scope.$apply(function (){
			                    $scope.$eval(attrs.myEnter);
			                });
			                event.preventDefault();
			            }
			            else if (event.which === 39) {
			            	$scope.goToNextTutorialStatement();
			            }
			            else if (event.which === 83) {
			            	$scope.saveProject();
			            }
			            else if (event.which === 106) {
			            	$scope.compile();
			            }
			        });
			    };
			});

			var controller = app.controller('MainController', function($scope) {
				$scope.message = "Hi";
				$scope.recording = false;
				$scope.tutorialStatements = [
					"Whether you’re a novice coder or someone with no background in programming, this is the perfect platform to help you embark on your coding journey. We know how challenging coding can be for those faced with visual impairment - that’s why we made coding much more accessible through verbal communication. These tutorials are meant to guide you step-by-step throughout the entire process, so don’t be afraid to make mistakes! With that said, good luck and make sure to have fun! Press the right arrow when you're ready!",
					"Welcome to Lesson 0. In this lesson, we will introduce to you the some of the commands you will use to start coding here on VerbalCoding. With verbal coding, we will use the right and left arrow keys to move forward and backward in the tutorial respectively. Press F when you want to toggle between recording and unrecording, and press J to compile your code.",
					"Welcome to Lesson 1. We begin this tutorial by learning one of the simplest yet most powerful tools in computer programming: setting a variable. For this tutorial, repeat what I say: variable number Alpha equal to number 14. This will make it so anytime that you use the variable Apple, it will be equal to 14, unless you change it later. Try saying this line by yourself."
				];
				$scope.currentTutorialStatement = 0;

				$scope.goToNextTutorialStatement = function() {
					recognition.stop();
					speak($scope.tutorialStatements[$scope.currentTutorialStatement]);
					$scope.currentTutorialStatement++;
				};

				$scope.toggleRecording = function() {
					if ($scope.recording) {
						speak("I have stopped listening to you.");
						recognition.stop();
					}
					else {
						speak("I am listening to you.");
						finalTranscript += " ";
						recognition.start();
					}
					$scope.recording = !$scope.recording;
				};

				$scope.compile = function() {
					output = [];
					memory = {};
					$("#output").html("");
					speak("I have compiled your code. Here is the output: ");
					convertTextToStatements(finalTranscript);
					speak(output);
				};

				$scope.saveProject = function() {
					recognition.stop();
					speak("What would you like to name this project? You have 5 seconds to tell me.");
					setTimeout(function() {
						recognition.start();
					}, 3000);
					setTimeout(function() {
						recognition.stop();
					}, 8000);
				}

				var memory = {};
				var projects = [];
				var output = [];

				var getValue = function(type, val) {
					switch (type) {
						case 'variable':
							return memory[val];
						case 'number':
						case 'integer':
							return parseInt(val);
						case 'decimal':
							return parseFloat(val);
						case 'boolean':
						case 'bool':
							return parseBoolean(val);
					}
				};

				var convertTextToStatements = function(text) {
					var statements = text.split("&#9668;<br/>");
					for (var statement of statements) {
						statement = statement.trim();
						var tokens = statement.split(" ");
						switch (tokens[0]) {
							case "variable":
							case "bearable":
							case "durable":
								memory[tokens[2]] = getValue(tokens[5], tokens[6]);
								break;
							case "add":
								memory[tokens[10]] = getValue(tokens[1], tokens[2]) + getValue(tokens[4], tokens[5]);
								break;
							case "subtract":
								memory[tokens[10]] = getValue(tokens[1], tokens[2]) - getValue(tokens[4], tokens[5]);
								break;
							case "multiply":
								memory[tokens[10]] = getValue(tokens[1], tokens[2]) * getValue(tokens[4], tokens[5]);
								break;
							case "divide":
								memory[tokens[10]] = getValue(tokens[1], tokens[2]) / getValue(tokens[4], tokens[5]);
								break;
							case "modulus":
								memory[tokens[10]] = getValue(tokens[1], tokens[2]) % getValue(tokens[4], tokens[5]);
								break;
							case "print":
								debugger;
								$('#output').append(getValue(tokens[1], tokens[2]) + "<br />");
								output.push(getValue(tokens[1], tokens[2]));
								break;
							case "show":
								for (var variable in memory) {
									$('#output').append(variable + ": " + memory[variable] + "<br />");
									output.push(variable + ": " + memory[variable]);
								}
								break;
							case "if":
								var substatements = statement.split("finish");
								// find the first condition that is true
								for (var sub = 1; sub <= substatements.length; sub++) {
									var substatement = substatements[sub-1];
									substatement = substatement.trim();
									var substatementTokens = substatement.split(' ');
									var subLength = substatementTokens.length;
									if (substatementTokens[0] != 'if' && substatementTokens[0] != 'else') continue;
									if (substatementTokens[0] == 'if' || substatementTokens[1] == 'if') { // if or else if
										var a = (substatementTokens[1] == 'if') ? 1 : 0;
										var val1 = getValue(substatementTokens[2+a], substatementTokens[3+a]);
										var val2 = getValue(substatementTokens[subLength-2], substatementTokens[subLength-1]);
										var condition;
										switch (substatementTokens[4+a]) {
											case 'equal':
												condition = val1 == val2;
												break;
											case 'not':
												condition = val1 != val2;
												break;
											case 'less':
												if (substatementTokens[7+a] == 'equal')
													condition = val1 <= val2;
												else
													condition = val1 < val2;
												break;
											case 'greater':
												if (substatementTokens[7+a] == 'equal')
													condition = val1 >= val2;
												else
													condition = val1 > val2;
												break;
										}
										if (condition) {
											var finalSubstatements = "";
											for (var s = sub + 1; s <= substatements.length; s++) {
												if (substatements[s-1].trim().split(' ')[0] == 'terminate') break;
												finalSubstatements += " " + substatements[s-1] + "&#9669;<br/>";
											}
											convertTextToStatements(finalSubstatements);
											break;
										}
									}
									else { // else
										var finalSubstatements = "";
										for (var s = sub + 1; s <= substatements.length; s++) {
											if (substatements[s-1].trim().split(' ')[0] == 'terminate') break;
											finalSubstatements += " " + substatements[s-1] + "&#9669;<br/>";
										}
										convertTextToStatements(finalSubstatements);
										break;
									}
								}
								break;
						}
					}
				};

				window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
			    let finalTranscript = '';
			    //$scope.tokenizedFinalTranscript = [];
			    let recognition = new window.SpeechRecognition();
			    recognition.interimResults = true;
			    recognition.lang = 'en-US';
			    recognition.maxAlternatives = 1;
			    recognition.continuous = true;
			    recognition.onresult = (event) => {
					let interimTranscript = '';
					for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
				        var transcript = event.results[i][0].transcript;
				        transcript = transcript.replace(/quit/g, '&#9668;<br/>');
				        transcript = transcript.replace(/quick/g, '&#9668;<br/>');
				        transcript = transcript.replace(/finish/g, '&#9669;<br/>');
				        if (event.results[i].isFinal) {
				        	finalTranscript += transcript;
				        }
				        else {
				        	interimTranscript += transcript;
				        }
					}
					//$scope.tokenizedFinalTranscript = finalTranscript.split(' ');
	      			document.querySelector('#input').innerHTML = finalTranscript + '<i style="color:#aaa;">' + interimTranscript + '</>';
			    }

			    var speak = function(text) {
			    	var message = new SpeechSynthesisUtterance();
			    	var voices = window.speechSynthesis.getVoices();
			    	message.voice = voices[32];
			    	message.rate = 0.9;
			    	message.pitch = 1;
			    	message.text = text;

			    	speechSynthesis.speak(message);
			    };

			    //convertTextToStatements("variable number alpha equal to number 16 &#9632;<br/> variable number apple equal to number 10 &#9632;<br/> variable number cow equal to number 18 &#9632;<br/> if condition variable alpha greater than or equal to number 215 finish print variable apple finish terminate condition finish else condition finish print number 3 finish terminate condition finish &#9632;<br/> show all &#9632;<br/>");
			});
			
			function listenForKeyPress(event) {
				var key = event.which || event.keyCode;
				switch (key) {
					case 102:
						// play and pause
						if (playing) {
							storedTokenized = tokenizedFinalTranscript;
						}
						else {
							tokenizedFinalTranscript = storedTokenized;
						}
						playing = !playing;
						break;
					case 106:
						// compile

						break;
				}
			}

			// if condition variable num greater than or equal to integer 5 end
			// output variable a end
			// terminate condition end
			// else if condition variable num equal to integer 3 end
			// output variable b end
			// terminate condition end
			// else condition end
			// output variable c end

			/* PLAY -- DEFINING PROGRAM */
			// print variable a end
			// show all end
			// end = end of statement

			// variable number a equal to number 14 end
			// variable number a equal to variable b end
			// variable string, boolean, 

			// add variable a and variable b answer assign to variable (name) end
			// subtract, multiply, divide, modulus

			/* PAUSED -- HELP COMMANDS */
			// save project (PROMPT FOR NAME: "Whats the name of the project?")
			// recall project

			/*var a = 6;
			var result = 1;
			for (var b = a; b >= 1; b++) {
				result = result * b;
				console.log(a);
			}*/

			// declare variable number a equal to 6 end line
			// declare variable number result equal to 1 end line
			// declare for loop end line
			//	'What is your iterator variable?' declare variable number b equal to (number or variablename) end line
			//	'What is your condition?' variable b must be (>=) integer 1 end line
			//	'Set an incrementor:' integer 1 end line
			// multiply variable result by variable b
			// declare output variable a
			// exit loop

			/*var num = 5;
			if (num == 5) {
				console.log(a);
			}
			else if (num == a) {
				console.log(b);
			}
			else {
				console.log(c);
			}*/

			// if condition variable num equal to integer 5
			// output variable a
			// terminate condition
			// else if condition variable num equal to integer 3
			// output variable b
			// terminate condition
			// else condition
			// output variable c

			/*$(document).ready(function() {
				$('#startRecordingBtn').click(function() {
					recognition.start();
				});
				$('#pauseRecordingBtn').click(function() {
					recognition.stop();
				});
				$('#compileBtn').click(function() {
						
				});
			});*/

			/*var playing = false;

			window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
		    let finalTranscript = '';
		    var storedTokenized = [];
		    var tokenizedFinalTranscript = [];
		    let recognition = new window.SpeechRecognition();
		    recognition.interimResults = true;
		    recognition.maxAlternatives = 10;
		    recognition.continuous = true;
		    recognition.onresult = (event) => {
				let interimTranscript = '';
				for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
			        let transcript = event.results[i][0].transcript;
			        if (event.results[i].isFinal) {
			        	finalTranscript += transcript;
			        }
			        else {
			        	interimTranscript += transcript;
			        }
				}
				tokenizedFinalTranscript = finalTranscript.split(' ');
      			document.querySelector('#input').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';
		    	console.log(tokenizedFinalTranscript);
		    }
		    recognition.start();*/

			/**/

			/*
			case 'variable':
							switch (tokens[1]) {
								case 'number':
									addToMemory(tokens[2], parseInt(tokens[5]));
									break;
								case 'decimal':
									addToMemory(tokens[2], parseFloat(tokens[5]));
									break;
								case 'string':
									//addToMemory(tokens[2], ); TODO
									break;
								case 'bool':
								case 'boolean':
									break;
							}
							break;
						case 'print':
							print(tokens[1]);
							break;
						case 'show':
							showMemory();
							break;
			*/
		</script>
	</body>
</html>